langchain_community
langchain_text_splitters
langchain_chroma
python-dotenv
pypdf
streamlit
google-genai
langchain-google-genai
ragas
datasets
sentence-transformers
streamlit-echarts
streamlit-mermaid
fpdf2
streamlit-pdf-viewer